@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 209 78% 34%; /* #13559c */
    --primary-foreground: 300 0% 100%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 9% 38%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 9% 45%;
    --accent: 78 55% 58%; /* #90b93e */
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 85%; /* Adjusted from c4c4c4 */
    --input: 220 13% 85%;
    --ring: 209 78% 34%;
    --chart-1: 209 80% 50%;
    --chart-2: 78 60% 40%;
    --chart-3: 210 31% 42%;
    --chart-4: 78 40% 70%;
    --chart-5: 209 50% 60%;
    --radius: 0.5rem;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 220 13% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 15%;
    --sidebar-ring: 209 78% 40%;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 209 78% 44%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 15%;
    --muted-foreground: 220 9% 55%;
    --accent: 78 55% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 15%;
    --input: 220 13% 15%;
    --ring: 209 78% 44%;
    --sidebar-background: 224 71.4% 4.1%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 220 13% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 15%;
    --sidebar-ring: 209 78% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
